html.dark{    
    body{
        background-color: #1b1b1f;
        color: #ebebf599;
    }

    .titleColor{
        color: #fffff5db;
    }

    .bgPrimary{
        background-color: var(--bg-primary-dark);
    }


    button{
        color: #fffff5db;
    }

    ::-webkit-scrollbar {
        width: 8px; /* Largura do scroll */
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #ffffff28;
        border-radius: 2px;
    }
}