.contactForm{

    &__title{
        font-size:40px;
        font-weight:800;
        text-decoration-style:dashed;
        width: 100%;
        text-align: center;
        line-height: 20px;

        &__sub{
            font-size: 18px;
            text-align: center;
        }
    }

    &__form{

        &__button{
            width: 100%;
            padding: 14px;
            background: #21262d;
            border-radius: 4px;
            border: initial;
            font-weight: 900;
            text-transform: uppercase;
        }
        
    }
}